        .user-section-info-sub-section-title {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #545F7D;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        .user-section-info {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #213F7D;
            margin-bottom: 30px;
        }

        #email-info {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            /* adjust as needed */
            display: inline-block;
            vertical-align: middle;
        }